<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Reservations Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  	
  	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="static/css/style.css">
  	<link href="static/css/admin.css" rel="stylesheet">
</head>
<body class="font-feature">
		<div id="wrapper">

        
	        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	            
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="home.html">Italy Town!</a>
	            </div>
	            
	            <ul class="nav navbar-right top-nav">
	                
	                <li class="dropdown">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Welcome Admin! <b class="caret"></b></a>
	                    <ul class="dropdown-menu">
	                        <li>
	                            <a href="#"><i class="glyphicon glyphicon-list-alt"></i> Profile</a>
	                        </li>
	                        
	                        <li>
	                            <a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a>
	                        </li>
	                        <li class="divider"></li>
	                        <li>
	                            <a href="#"><i class="glyphicon glyphicon-off"></i> Log Out</a>
	                        </li>
	                    </ul>
	                </li>
	            </ul>
	            
		        <div class="collapse navbar-collapse navbar-ex1-collapse">
		            <ul class="nav navbar-nav side-nav">
		                <li class="active">
		                    <a href="welcome_admin.html"><i class="glyphicon glyphicon-eye-open"r></i> Welcome Admin!</a>
		                </li>
		                <li>
		                    <a href="reservations.html"><i class="lyphicon glyphicon-calendar"></i> Reservations</a>
		                </li>
		                <li>
		                    <a href="about.html"><i class="glyphicon glyphicon-compressed"></i> Seating Arrangement</a>
		                </li>
		                <li>
		                    <a href="forms.html"><i class="glyphicon glyphicon-phone-alt"></i> Contacts Lists</a>
		                </li>
		                <li>
		                    <a href="bootstrap-elements.html"><i class="glyphicon glyphicon-cog"></i> Settings</a>
		                </li>
		                
		                
		            </ul>
		        </div>
		            
	        </nav>

	        <div id="page-wrapper">
	        	<div class="container-fluid">
	        		<div class="row">
	        			<div class="col-md-6">
	        				<h2 class="text-center">Tables Occupancy</h2>
	        				<div class="table-responsive">
	        					<table class="table table-striped">
	        						<thead>
	        							<tr>
	        								<th>Confirmation Code</th>
	        								<th>Reserved Time</th>
	        								<th>Occupancy</th>
	        								<th>Table Number:</th>
	        								<th>Availability</th>
	        							</tr>
	        						</thead>
	        						<tbody>
	        							<tr>
	        								<td>11223344</td>
	        								<td>7:00 PM</td>
	        								<td>2</td>
	        								<td>12</td>
	        								<td>Reserved</td>
	        							</tr>
	        							<tr>
	        								<td></td>
	        								<td>-</td>
	        								<td>4</td>
	        								<td>10</td>
	        								<td>Available</td>
	        							</tr>
	        							<tr>
	        								<td></td>
	        								<td>-</td>
	        								<td>8</td>
	        								<td>20</td>
	        								<td>Available</td>
	        							</tr>
	        							<tr>
	        								<td>22334455</td>
	        								<td>7:00 PM</td>
	        								<td>6</td>
	        								<td>9</td>
	        								<td>Reserved</td>
	        							</tr>
	        							<tr>
	        								<td>44556677</td>
	        								<td>9:00 PM</td>
	        								<td>3</td>
	        								<td>21</td>
	        								<td>Reserved</td>
	        							</tr>
	        							<tr>
	        								<td>99887766</td>
	        								<td>7:30 PM</td>
	        								<td>5</td>
	        								<td>25</td>
	        								<td>Reserved</td>
	        							</tr>
	        							<tr>
	        								<td></td>
	        								<td>-</td>
	        								<td>2</td>
	        								<td>13</td>
	        								<td>Available</td>
	        							</tr>
	        						</tbody>
	        					</table>
	        				</div>
	        			</div>

	        			<div class="col-md-6 text-center margin-top-10">
	        				<div class="dropdown">
	        					<button class="btn btn-default dropdown-toggle" type="button" id="dropdown_adminn" data-toggle="dropdown">Reservations
  								<span class="caret"></span></button>
  								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
							      <li role="presentation"><a role="menuitem" tabindex="-1" href="new_customer.html">Create a Reservation</a></li>
							      <li role="presentation" class="divider"></li>
							      <li role="presentation"><a role="menuitem" tabindex="-1" href="reservations.html">Modify an existing Reservation</a></li>
							      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Delete a Reservation</a></li>
							      <li role="presentation" class="divider"></li>
							      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">See Details</a></li>
							    </ul>
	        				</div>
	        			</div>
	        		</div>
	        	</div>
	        </div>

        </div>

<script src="src/js/jquery.min.js"></script>
		<script src="src/js/bootstrap.min.js"></script>
</body>
</html>