<div class="container margin-top-10">

	<div class="container padding-top-10">


		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="text-center font-feature"> Please Enter your details below:</h3>
			</div>
			<div class="panel-body" data-ng-controller="CreateReservationCtrl">
				<form name="userForm" data-ng-submit="addCust()" novalidate>
					<div class="row padding-top-10">
						<div class="col-md-6">
							<div class="form-group" ng-class="{ 'has-error' : userForm.first_name.$invalid && !userForm.first_name.$pristine }">
								<label for="first_name" class="control-label font-feature">Name:</label>
								<input type="text"  name="first_name" class="form-control" id="first_name"  ng-model="user.first_name" placeholder="First Name" required>
								<p ng-show="userForm.first_name.$invalid && !userForm.first_name.$pristine" class="help-block">Your First Name is required.</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group" ng-class="{ 'has-error' : userForm.last_name.$invalid && !userForm.last_name.$pristine }">
								<label for="last_name" class="control-label font-feature">&nbsp;</label>
								<input type="text"ng-model="user.last_name" name="last_name" class="form-control" id="last_name" placeholder="Last Name" required/>
								<p ng-show="userForm.last_name.$invalid && !userForm.last_name.$pristine" class="help-block">Your Last Name is required.</p>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="country_selector" class="control-label font-feature">Contact Details:</label>
						<div class="row padding-top-10">
							<div class="col-md-2">
								<select data-ng-model="user.phone_prefix" ng-options="key as value for (key, value) in items" id="country_selector"  name="phone_prefix" class="form-control selectdropdownelement-native" >
								</select>
							</div>
							<div class="col-md-4 form-group" ng-class="{ 'has-error' : userForm.phone_number.$invalid && !userForm.phone_number.$pristine }">
								<input type="text" ng-model="user.phone_number" name="phone_number" class="form-control phone-number" id="customer_phone_number"  placeholder="Phone Number" ng-maxlength="10"
									   ng-minlength="10" ng-pattern="/^\d{10}$/" required />
								<p class="help-block" ng-show="userForm.phone_number.$invalid && !userForm.phone_number.$pristine">Your Phone number should be of 10 digits</p>
							</div>
							<div class="col-md-6 form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
								<input ng-model="user.email" type="email" class="form-control" id="customer_email" placeholder="Email" name="email">
								<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
							</div>
						</div>
					</div>


					<div class="form-group">
						<label class="control-label font-feature">Choose Date and time:</label>
						<div class="row padding-top-10">
							<div class="col-md-6">
								<p class="input-group">
									<input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="user.date" is-open="open.date" />
                						<span class="input-group-btn">
                    						<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date')"><i class="glyphicon glyphicon-calendar"></i></button>
               							 </span>
								</p>
							</div>



							<div class="col-md-3">
								<input type="number" name="no_of_guests" data-ng-model="user.no_of_guests" class="form-control" id="no_of_guests" placeholder="No of Guests"/>
							</div>
							<div class="col-md-3 padding-top-10 font-feature">
								<label class="control-label">Is this your First Visit?</label>
								<input data-ng-model="user.visit" type="radio" value="yes" name="visit" id="radio"/>Yes
								<input data-ng-model="user.visit" type="radio" value="no" name="visit" id="radio1"/>No
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row padding-top-10 font-feature">
							<div class="col-md-6">
								<textarea data-ng-model="user.specialRequests" name="specialRequests" id="special_requests_customer" class="form-control" rows="1"placeholder="Add a special Request(Optional)"></textarea>
							</div>
							<div class="col-md-6 ">
								<div class="checkbox">
									<label><input data-ng-model="user.notifications" type="checkbox">Yes, I would like to receive email notifications from this restaurant</label>

								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row padding-top-10 font-feature">
							<div class="col-md-3">
							</div>
							<div class="col-md-3 text-center">
								<button type="submit"  id="complete_reservation_btn" class="btn btn-success btn-block">Complete Reservation</button>
							</div>
							<div class="col-md-3">
								<button type="button" id="existing_reservation" class="btn btn-link btn-block">Change an Existing Reservation? </button>
							</div>
						</div>
					</div>






				</form>
			</div>
		</div>
	</div>
</div>


<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header font-feature">
			<h3 class="modal-title text-center">Your Reservation Details!</h3>
		</div>
		<div class="modal-body font-feature">
			<form class="form-horizontal">
				<div class="form-group">
      				<label class="col-sm-3 control-label">Confirmation Number</label>
      				<div class="col-sm-9">
        				<p class="form-control-static">{{confirmationsDetails.confirmationNumber}}</p>
      				</div>
    			</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Name</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{confirmationsDetails.first_name}}&nbsp;{{confirmationsDetails.last_name}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Reservation Date & Time</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{confirmationsDetails.date | date:'medium'}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">No of Guests</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{confirmationsDetails.no_of_guests}}</p>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer font-feature">
			<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
			<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		</div>
</script>