<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="charset=UTF-8">
		<meta charset="utf-8">
		<title>Admin Login Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="static/css/styles.css" rel="stylesheet">
	</head>
	<body class="font-feature">

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login_modal">
  Admin Login
</button>
<!--login modal-->
<div id="login_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content font-feature">
      <div class="modal-header font-feature">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">Admin Login</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block">
            <div class="form-group">
              <input type="email" class="form-control input-lg" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12 text-center">
                  <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                </div>
             </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 text-center">
                <label><input  type="checkbox" value="" id="remember_me"> Keep me Signed  </label>
              </div>
              <div class="col-md-12">
                <button type="button" class="btn btn-link btn-block " id="forgot_password">Forgot Password?</button>
              </div>
            </div>

          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
		  </div>	
      </div>
  </div>
  </div>
</div>
	<!-- script references -->
		<script src="src/js/jquery.min.js"></script>
		<script src="src/js/bootstrap.min.js"></script>
	</body>
</html>