<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Welcome Admin!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  	
  	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="static/css/style.css">
  	<link href="static/css/admin.css" rel="stylesheet">
</head>
<body class="font-feature">
		<div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html">Italy Town!</a>
            </div>
            
            <ul class="nav navbar-right top-nav">
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Welcome Admin! <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-list-alt"></i> Profile</a>
                        </li>
                        
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="welcome_admin.html"><i class="glyphicon glyphicon-eye-open"r></i> Welcome Admin!</a>
                </li>
                <li>
                    <a href="reservations.html"><i class="lyphicon glyphicon-calendar"></i> Reservations</a>
                </li>
                <li>
                    <a href="about.html"><i class="glyphicon glyphicon-compressed"></i> Seating Arrangement</a>
                </li>
                <li>
                    <a href="forms.html"><i class="glyphicon glyphicon-phone-alt"></i> Contacts Lists</a>
                </li>
                <li>
                    <a href="bootstrap-elements.html"><i class="glyphicon glyphicon-cog"></i> Settings</a>
                </li>
                
                
            </ul>
        </div>
           
        </nav>


        <div id="page-wrapper">

            <div class="container-fluid">

                
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Welcome Admin, <small>Good Morning!</small> 
                        </h1>
                    </div>
                </div>
                

                <div class="row">
                    <div class="col-md-12">
                       <p>
                            <span class="huge">
                                <strong>Hours of Operation</strong>
                            </span><br><br>
                            <strong>LUNCH:</strong>
                            <br>
                            MONDAY – FRIDAY - 11.00 AM – 3.00 PM  
                            <br>
                            SATURDAY - SUNDAY - 11.00 AM - 3.30 PM
                           <br><br>
                           <strong>DINNER:</strong>
                           <br>
                           MONDAY - FRIDAY - 5.00 PM - 10.00 PM
                           <br>
                           SATURDAY-SUNDAY - 5.00 PM - 10.30 PM
                           <br>
                      </p>
                    </div>
                </div>

                <div class="row">
                    <div clas="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="glyphicon glyphicon-tasks"></i> Today's Tasks List</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                            
                                        <i class="fa fa-fw fa-calendar"></i> Update the Waiting List
                                    </a>
                                    <a href="#" class="list-group-item">                                        
                                        <i class="fa fa-fw fa-comment"></i> Modify Mr X's Reservation
                                    </a>
                                    <a href="#" class="list-group-item">                                        
                                        <i class="fa fa-fw fa-truck"></i> Cancel Mr Y's Reservation
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-fw fa-money"></i> Change the Password
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-fw fa-user"></i> Update the Restaurant Timings
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>

            </div>
        </div>
    </div>




<script src="src/js/jquery.min.js"></script>
		<script src="src/js/bootstrap.min.js"></script>
</body>
</html>